/* Navigation.css */

.navbar {
    padding: 1rem;
    background-color: #ffffff;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
  }
  
  .navbar-nav .nav-link {
    color: #333;
    font-size: 1.1rem;
    margin-right: 50px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  .brand-logo {
    font-size: 1.7rem;
    font-weight: bold;
    color: #007bff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #555;
  }
  
  .nav-dropdown-item:hover {
    background-color: #f8f9fa;
  }
  
  .fas {
    margin-right: 8px;
  }
  
/* Navigation.css */
.navbar .form-control {
    border-radius: 20px;
    padding-left: 250px; /* Increase padding for better aesthetics */
  }
  
  .navbar .form-control::placeholder {
    color: #6c757d;  /* Placeholder text color */
  }
  
  .navbar .btn-outline-success {
    border-radius: 20px;
    padding: 0.5rem 1rem;  /* Button padding */
    margin-left: -1px;  /* Remove the gap between the input and the button */
  }
  
  .navbar .nav-item .fas {
    font-size: 18px; /* Adjust the icon size */
  }
  
  /* Custom style to ensure the cart and profile icons are right aligned */
  .navbar-nav.ml-auto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Navigation.css */
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-nav .nav-link {
    margin-right: 0.5rem;  /* Adjust the space as per requirement */
  }
  