/* Register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?size=626&ext=jpg&ga=GA1.1.1981552421.1727688020&semt=ais_hybrid-rr-similar') no-repeat center center fixed;
    background-size: cover;
  }
  
  .register-form {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* .form-group input::placeholder {
    font-style: italic;
    color: #888;
  } */
  
  .password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .toggle-password-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .register-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .register-btn:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .register-form {
      width: 80%;
      padding: 20px;
    }
  }
  